[user]
	name = Henri Bergius
	email = henri.bergius@iki.fi
	signingkey = henri.bergius@iki.fi
[diff "odf"]
	textconv = odt2txt
[color]
	ui = auto
[push]
	autoSetupRemote = true
[core]
	editor = vim
[pull]
	ff = only
	rebase = true
[fetch]
	prune = true
[rerere]
	enabled = true
[merge]
	conflictstyle = zdiff3
[diff]
	algorithm = histogram
[branch]
	sort = -committerdate
[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
