[submodule "vim/.vim/bundle/vim-coffee-script"]
	path = vim/.vim/pack/bergie/start/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/pack/bergie/start/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/.vim/bundle/vim-json"]
	path = vim/.vim/pack/bergie/start/vim-json
	url = https://github.com/leshill/vim-json.git
[submodule "vim/.vim/bundle/vim-css-color"]
	path = vim/.vim/pack/bergie/start/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "vim/.vim/bundle/vim-fbp"]
	path = vim/.vim/pack/bergie/start/vim-fbp
	url = https://github.com/ninegrid/vim-fbp.git
[submodule "vim/.vim/bundle/vim-ledger"]
	path = vim/.vim/pack/bergie/start/vim-ledger
	url = https://github.com/ledger/vim-ledger.git
[submodule "vim/.vim/bundle/ale"]
	path = vim/.vim/pack/bergie/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/pack/bergie/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/pack/bergie/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/.vim/bundle/vim-airline-themes"]
	path = vim/.vim/pack/bergie/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/.vim/pack/bergie/start/vim-fugitive"]
	path = vim/.vim/pack/bergie/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/pack/bergie/start/typescript-vim"]
	path = vim/.vim/pack/bergie/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vim/.vim/pack/bergie/start/editorconfig-vim"]
	path = vim/.vim/pack/bergie/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
