[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/jayferd/vim-coffee-script.git
[submodule "bundle/vim-rooter"]
	path = bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
